.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
.App {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
